.learningAgreement3 {

    background: #b6d7d4;
}

.butConvert {

    height: 65px;
    width: 245px;
    font-family: "Poppins", sans-serif !important;
    background-color: #d93939;
    border-radius: 17px;
    border: 1px solid #4e6096;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 17px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #283966;
}


.centered {

}