body {
  background: #e7f6f2;
}

/* LoginPage (lp) Styles */
.lp-center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 5px;
}

.lp-h1 {
  font-size: 48px;
  color: #2c3333;
  font-family: sans-serif;
  font-weight: bold;
  padding-bottom: 0%;
}

.lp-container {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}

.lp-input {
  background: #f2f2f2;
  width: 100%;
  margin: 0 0 20px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  border-radius: 4px;
}

.lp-button {
  background: #a5c9ca;
  width: 50%;
  border: 0;
  padding: 15px;
  color: #2c3333;
  font-size: 18px;
  cursor: pointer;
  border-radius: 20px;
  border-color: #2c3333;
  font-weight: bold;
  font-family: sans-serif;
  margin-bottom: 15px;
}

.lp-button:hover {
  opacity: 75%;
}

/* ForgotPasswordPage (fpp) Styles */
.fpp-center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.fpp-h1 {
  font-size: 48px;
  color: #2c3333;
  font-family: sans-serif;
  font-weight: bold;
  display: block;
  margin: 5px;
}

.fpp-h2 {
  font-size: 36px;
  color: #2c3333;
  font-family: sans-serif;
  font-weight: bold;
  display: block;
}

.fpp-container {
  width: 100%;
  padding: 12% 0 0;
  margin: auto;
}

.fpp-button {
  background: #a5c9ca;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #2c3333;
  font-size: 18px;
  cursor: pointer;
  border-radius: 20px;
  border-color: #2c3333;
  font-weight: bold;
  font-family: sans-serif;
}

.fpp-button:hover {
  opacity: 75%;
}

/* ResetPasswordConfirmPage (rpcp) Styles */
.rpcp-center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.rpcp-h1 {
  font-size: 48px;
  color: #2c3333;
  font-family: sans-serif;
  font-weight: bold;
  display: block;
  margin: 5px;
}

.rpcp-h2 {
  font-size: 36px;
  color: #2c3333;
  font-family: sans-serif;
  font-weight: bold;
  display: block;
}

.rpcp-container {
  width: 75%;
  padding: 12% 0 0;
  margin: auto;
}

.rpcp-button {
  background: #a5c9ca;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #2c3333;
  font-size: 18px;
  cursor: pointer;
  border-radius: 20px;
  border-color: #2c3333;
  font-weight: bold;
  font-family: sans-serif;
}

.rpcp-button:hover {
  opacity: 75%;
}

.rpcp-input {
  background: #f2f2f2;
  width: 15%;
  margin: 0 0 30px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  border-radius: 4px;
}

.rpcp-a {
  margin: 20px;
}

/*Settings Page CSS*/

.sp-container{
  width: 60%;
  padding: 5% 0 0;
  margin-bottom: 0%;
  margin:auto;
}

.sp-center {

  text-align: center;
  margin: 0px;
  padding-bottom: 5%;
  padding-top: 5%;
}

.sp-h1{
  font-size: 64px;
  color: #2c3333;
  font-family: sans-serif;
  font-weight: bold;
  padding-bottom: 5%;
}

.sp-button {
  background: #a5c9ca;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #2c3333;
  font-size: 18px;
  cursor: pointer;
  border-radius: 20px;
  border-color: #2c3333;
  font-weight: bold;
  font-family: sans-serif;
  margin-bottom: 0%;
  margin-right: 10%;
  margin-left: 10%;
}

.sp-button:hover {
  opacity: 75%;
}

.sp-btn-group {
  display:flex;
  width: 100%;
  height: 100%;
  border-color: #2c3333;
  align-items:center;
  margin: 0px;
  padding-bottom: 5%;
}

.sp-checkbox-group {
  display: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 300%;
  border-color: #2c3333;
  align-items:center;
  margin: 100px;
  margin-bottom: 40%;
}

.sp-checkbox {
  background: #a5c9ca;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #2c3333;
  font-size: 18px;
  cursor: pointer;
  border-radius: 0px;
  border-color: #2c3333;
  font-weight: bold;
  font-family: sans-serif;
}

.sp-label {
  font-size: 25px;
  font-weight: bold;
  font-family: sans-serif;
  margin-top: 20%;
  margin-bottom: 20%;
}

.sp-checkbox {
  width: 20px;
  height: 20px;
}

/* ResetPasswordPage (rpp) Styles */
.rpp-center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 5px;
}

.rpp-h1 {
  font-size: 48px;
  color: #2c3333;
  font-family: sans-serif;
  font-weight: bold;
  padding-bottom: 0%;
}

.rpp-container {
  width: 420px;
  padding: 8% 0 0;
  margin: auto;
}

.rpp-input {
  background: #f2f2f2;
  width: 80%;
  margin: 0 0 20px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  border-radius: 4px;
}

.rpp-button {
  background: #a5c9ca;
  width: 50%;
  border: 0;
  padding: 15px;
  color: #2c3333;
  font-size: 18px;
  cursor: pointer;
  border-radius: 20px;
  border-color: #2c3333;
  font-weight: bold;
  font-family: sans-serif;
  margin-bottom: 15px;
}

.rpp-button:hover {
  opacity: 75%;
}

/* ApplicationPage (ap) Styles */
.ap-center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
}

.ap-container {
  width: 90%;
  padding: 1% 0 0;
  margin: auto;
}

.ap-button {
  background: #a5c9ca;
  width: 20%;
  border: 0;
  padding: 15px;
  color: #2c3333;
  font-size: 18px;
  cursor: pointer;
  border-radius: 20px;
  border-color: #2c3333;
  font-weight: bold;
  font-family: sans-serif;
  margin-bottom: 15px;
  margin-left: 30px;
  margin-top: 30px;
}

.ap-button-table {
  background: #a5c9ca;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #2c3333;
  font-size: 18px;
  cursor: pointer;
  border-radius: 20px;
  border-color: #2c3333;
  font-weight: bold;
  font-family: sans-serif;
  margin-bottom: 15px;
  margin-left: 30px;
}

.ap-button-not-active {
  background: #a5c9ca;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #2c3333;
  font-size: 18px;
  border-radius: 20px;
  border-color: #2c3333;
  font-weight: bold;
  font-family: sans-serif;
  margin-bottom: 15px;
  margin-left: 30px;
  opacity: 75%;
}

.ap-button:hover {
  opacity: 75%;
}

.ap-header-application-status {
  font-size: 24px;
  color: #2c3333;
  font-family: sans-serif;
  font-weight: bold;
  padding-bottom: 0%;
}

.ap-text-application-status {
  font-size: 24px;
  color: red;
  font-family: sans-serif;
  padding-bottom: 0%;
  margin-left: 20px;
}

.ap-text-not-uploaded {
  font-size: 20px;
  color: red;
  font-family: sans-serif;
  padding-bottom: 0%;
  margin-left: 20px;
}

.ap-text-not-available {
  font-size: 20px;
  color: grey;
  font-family: sans-serif;
  padding-bottom: 0%;
  margin-left: 20px;
}

.ap-header-other {
  font-size: 20px;
  color: #2c3333;
  font-family: sans-serif;
  font-weight: bold;
  padding-bottom: 0%;
}

.ap-text-other {
  font-size: 20px;
  color: #2c3333;
  font-family: sans-serif;
  padding-bottom: 0%;
  margin-left: 20px;
}

/* NavigationBar styles */
.nb-header {
  width: 100%;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #2C3333;
  color: white;
}

.nb-header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: baseline;
}

.nb-header li {
  margin-left: 3rem;
}

.nb-header a {
  text-decoration: none;
  font-size: 1.5rem;
  color: #fcb8d2;
} 

.nb-header a:hover,
.nb-header a:active,
.nb-header a.active {
  color: white;
}

.nb-name {
  font-family: sans-serif;
  font-weight: bold;
  font-size: larger;
}