@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200&display=swap");
.App {
    font-family: sans-serif;
    position: relative;
    width: 100vw;
    height: 100vh;
}
* {
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
#complete {
    position: absolute;
    flex-direction: column;
    justify-content: center;
    background-color: #354259;
    align-items: center;
    height: 20%;
    width: 40%;
    color: white;
    top: 30vh;
    left: 30%;
    text-align: center;
    border: 5px solid black;
    border-radius: 15px;
    z-index: 100;
}
#hijo {
    display: flex;
    flex-direction: column;
}
#title {
    text-align: center;
    font-family: "Poppins", sans-serif;
}
#description {
    text-align: center;
    font-family: "Poppins", sans-serif;
}
#survey-form {
    display: flex;
    flex-direction: column;
    background-color: #403a61;
    padding: 4vh;
    border-radius: 29px;
    width: 500px;
    font-family: "Poppins", sans-serif;
}
#footer {
    display: flex;
    flex-direction: row;
    height: 45vh;
    background: black;
    color: white;
    text-align: start;
    margin-top: 10vh;
}
#contact {
    text-align: center;
}
#contenedorIconosContacto {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#contenedorIconosContacto a {
    font-size: 10vh;
    color: #337ab7;
    text-decoration: none;
}
#imgSwordVoice {
    width: 10vh;
}
#madeBy {
    padding-bottom: 0;
    text-align: center;
}
#footer > div {
    padding-top: 0;
    width: 30%;
}
.react-datepicker-wrapper {
    display: block !important;
}

.marginBottom {
    margin-bottom: 5vh;
}
.blackLetter {
    color: black;
}
.whiteLetter {
    color: white;
}
.widthContainerInput {
    position: relative;
    width: 80%;
}
.circleValidate {
    position: absolute;
    right: 5%;
    top: 40%;
    background: green;
    height: 10px;
    width: 10px;
    border-radius: 100%;
}
.circleInvalidate {
    position: absolute;
    right: 5%;
    top: 40%;
    background: red;
    height: 10px;
    width: 10px;
    border-radius: 100%;
}
.widthInput {
    width: 100%;
}
.react-tel-input .form-control {
    height: 20px !important;
}
.css-1hb7zxy-IndicatorsContainer {
    height: 100% !important;
}
.css-yk16xz-control {
    height: 5vh !important;
    min-height: 5vh !important;
}
.textHeader {
    color: white;
}
.styleInput {
    font-size: 14px;
    letter-spacing: 0.01rem;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    margin-left: 0;
    background: #ffffff;
    border: 1px solid #cacaca;
    border-radius: 5px;
    line-height: 25px;
    height: 5vh;
    width: 100%;
    outline: none;
}
.react-tel-input .form-control {
    position: relative !important;
    font-size: 14px !important;
    letter-spacing: 0.01rem !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    margin-left: 0 !important;
    background: #ffffff !important;
    border: 1px solid #cacaca !important;
    border-radius: 5px !important;
    line-height: 25px !important;
    height: 5vh !important;
    width: 70% !important;
    outline: none !important;
}
.react-datepicker-wrapper input {
    height: 5vh;
}
.react-tel-input .country-list .country-name {
    color: black;
}
.perfectCentered {
    display: flex;
    justify-content: center;
    align-items: center;
}
#countryFlag {
    outline: none;
    position: relative;
    width: 38px;
    height: 100%;
    padding: 0 0 0 8px;
    border-radius: 3px 0 0 3px;
    background-color: #f5f5f5;
}
#textarea {
    width: 60%;
    min-width: 60%;
    max-width: 100%;
}
.buttons {
    height: 50px;
    width: 100px;
    font-family: "Poppins", sans-serif !important;
    background-color: white;
    border-radius: 28px;
    border: 1px solid #4e6096;
    display: inline-block;
    cursor: pointer;
    color: #403a61;
    font-family: Arial;
    font-size: 17px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #283966;
}
.buttons:hover {
    background-color: #476e9e;
}
.buttons:active {
    position: relative;
    top: 1px;
}


.editButton {
    height: 30px;
    width: 50px;
    font-family: "Poppins", sans-serif !important;
    background-color: #ff0000;
    border-radius: 12px;
    border: 1px solid #4e6096;
    display: inline-block;
    cursor: pointer;
    color: #403a61;
    font-family: Arial;
    font-size: 17px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #283966;
    margin-left: 15px;

}

.editButton:disabled {
    visibility: hidden;
}
@media only screen and (max-width: 600px) {
    #hijo {
        height: 100vh;
        width: 90vw;
    }
    #complete {
        height: 30%;
        width: 70%;
        left: 15%;
        top: 45%;
    }
    #survey-form {
        width: 95vw;
    }
    #textarea {
        width: 100%;
    }

    #footer {
        display: flex;
        flex-direction: column;
        height: 100%;
        background: black;
        color: white;
        text-align: center;
        padding-bottom: 10vh;
    }
    #footer > div {
        padding-top: 10vh;
        width: 100%;
        height: 30%;
    }
    #contenedorIconosContacto {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    #contenedorIconosContacto a {
        font-size: 10vh;
    }
    #madeBy {
        padding-bottom: 15vh;
        text-align: center;
    }
    .widthContainerInput {
        position: relative;
        width: 95%;
    }
    .styleInput {
        height: 7vh;
    }
    .react-datepicker-wrapper input {
        height: 7vh;
    }
    .react-tel-input .form-control {
        height: 7vh !important;
    }
    .css-yk16xz-control {
        height: 7vh !important;
        min-height: 7vh !important;
    }
}
