/* profile page (pp) styles */
body {
  background: #e7f6f2;
  margin: 0;
}

.pp-center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
  }
  
  .pp-container {
    width: 80%;
    padding: 1% 0 0;
    margin: auto;
    display: flex;
  }
  
  .pp-container2 {
    width: 80%;
    padding: 1% 0 0;
    display: flex;
  }
  
  .pp-button {
    background: #a5c9ca;
    width: 15%;
    border: 0;
    padding: 15px;
    color: #2c3333;
    font-size: 18px;
    cursor: pointer;
    border-radius: 20px;
    border-color: #2c3333;
    font-weight: bold;
    font-family: sans-serif;
    margin-left: 17%;
    margin-top: 0;
  }
  
  .pp-button2 {
    background: #a5c9ca;
    width: 15%;
    border: 0;
    padding: 15px;
    color: #2c3333;
    font-size: 18px;
    cursor: pointer;
    border-radius: 20px;
    border-color: #2c3333;
    font-weight: bold;
    font-family: sans-serif;
    margin-left: 19.5%;
    margin-top: 0;
  }
  
  .pp-button:hover {
    opacity: 75%;
  }
  
  .pp-img-container {
    width: 320px;
    height: 320px;
    padding: 5px;
    margin: auto;
    margin-bottom: 3%;
    display: flex;
    border: 9px solid black;
  }
  
  .pp-img {
    max-width: 100%;
    height: auto;
  }
  
  .pp-table {
    margin: 30px;
    padding: 20px;
    empty-cells: show;
  }
  
  .pp-table2 {
    margin: 30px;
    padding: 20px;
    empty-cells: show;
  }
  
  .pp-header-name {
    font-size: 32px;
    color: #2c3333;
    font-family: sans-serif;
    font-weight: 800;
    padding-bottom: 0%;
    display: inline-table;
  }
  
  .pp-header-other {
    font-size: 28px;
    color: #2c3333;
    font-family: sans-serif;
    font-weight: bold;
    padding-bottom: 0%;
  }
  
  .pp-text-other {
    font-size: 28px;
    color: #2c3333;
    font-family: sans-serif;
    padding-bottom: 0%;
    margin-left: 20px;
  }